.gallery {
	display: flex;
	gap: 16px;

	overflow: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.gallery::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

.gallery-wrapper {
	position: relative;
}

.button {
	border: 1px solid #999;
	border-radius: 50;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	cursor: pointer;
	background: #666;
	position: absolute;
	top: 50%;
	cursor: pointer;
	opacity: 0;
  transition: 0.3s ease;
}

.button.visible {
	opacity: 0.9;
	pointer-events: auto;
}

.arrow-left {
	left: 10px;
}

.arrow-right {
	right: 10px;
}
