.page {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 52px 0;
  gap: 56px;
}